    <script type="text/javascript" src="/scripts/timeline.js"></script>

    <script type="text/javascript" src="/app.js"></script>

    <script type="text/javascript" src="/controllers/ProjectController.js"></script>
    <script type="text/javascript" src="/controllers/ListController.js"></script>
    <script type="text/javascript" src="/controllers/DashboardController.js"></script>
    <script type="text/javascript" src="/services/ApiService.js"></script>
    <script type="text/javascript" src="/directives/timeline.js"></script>
    <script type="text/javascript" src="/directives/sortable.js"></script>
    <script type="text/javascript" src="/directives/helpers.js"></script>
  </body>
</html>
