<!DOCTYPE html>
<html ng-app="Roadmap">
  <head>
    <meta charset="utf-8">
    <title>Product Roadmap</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/scripts/alertify.css" media="screen" charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/scripts/alertify.js"></script>
  </head>
  <body>
