<section class="list {{colors[$index]}}" ng-repeat="list in lists" ng-controller="ListController">
  <div class="list-header">
    <h3> {{list.title}} </h3>
    <div class="more" ng-click="toggleDisplayListOptions()">
      <p>...</p>
    </div>

    <% include ./list-options.ejs %>
  </div>

  <div id="list-{{list._id}}" class="connectedSortable task-group" sortable>
    <div id="task-{{task._id}}" class="task-text sortable"
         ng-repeat="task in list.tasks | orderBy: 'priority'" ng-click="activateTask(task)">
      <p> {{task.content}} </p>
    </div>
  </div>

  <div toggle>
    <p class="new-task" ng-show="!newTaskEnabled" ng-click="toggleShowNewTask()">
      + Add a task
    </p>

    <div class="task-text input" ng-show="newTaskEnabled">
      <form ng-submit="createTask(newTask, list._id, $index); newTask= ''; newListEnabled = false">
        <input type="text" placeholder="New task..." ng-model="newTask" />
      </form>
    </div>
  </div>
</section>

<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
