<section class="list">
  <h3>List Name Here</h3>

  <div class="task-text">
    <p>
      Hi there handsome
    </p>
  </div>

  <div class="task-text">
    <p>
      Hi there handsome
    </p>
  </div>

  <div class="task-text">
    <p>
      Hi there handsome
    </p>
  </div>

  <div class="task-text input">
    <form ng-submit="createTask(newTask)">
      <input type="text" placeholder="New project..." ng-model="newTask"/>
    </form>
  </div>
</section>
