<section class="list {{colors[$index]}}" ng-repeat="list in lists" sortable>
  <div class="list-header">
    <h3> {{list.title}} </h3>
    <div class="more" ng-click="openListOptions()">
      <p>...</p>
    </div>

    <% include ./list-options.ejs %>
  </div>

  <div id="task-{{task._id}}" class="task-text sortable"
       ng-repeat="task in list.tasks | orderBy: 'priority'" ng-click="activateTask(task)">
    <p> {{task.priority}} // {{task.content}} </p>
  </div>

  <div class="task-text input">
    <form ng-submit="createTask(newTask, list._id, $index); newTask= ''">
      <input type="text" placeholder="New story..." ng-model="newTask" />
    </form>
  </div>
</section>
