<div ng-if="modalOpen" class="modal-backdrop" ng-click="closeModal()" esc>
  <section class="modal" ng-click="$event.stopPropagation()">
    <div class="content">
      <img src="https://jane.com/cdn.jane/content/images/jane/close.svg" class="x-modal" ng-click="closeModal()">
      <h1 class="title-input" ng-if="!editMode">{{active.content}}</h1>
      <input type="text" ng-model="active.content" ng-if="editMode" class="title-input">

      <div class="content-body">
        <div class="left">
          <div class="description">
            <h4 ng-if="editMode || active.description">Description</h4>
            <textarea ng-model="active.description" ng-if="editMode"></textarea>
<pre ng-if="!editMode">
{{active.description}}
</pre>
          </div>
        </div>

        <div class="right">
          <div class="dates">
            <div class="right-item">
              <h4>Start Date</h4>
              <p ng-if="!editMode" parse-date>{{active.start | date:'MMM d, yyyy'}}</p>
              <input type="date" ng-model="active.start" ng-if="editMode">
            </div>

            <div class="right-item">
              <h4>End Date</h4>
              <p ng-if="!editMode">{{active.end | date:'MMM d, yyyy'}}</p>
              <input type="date" ng-model="active.end" ng-if="editMode">
            </div>
          </div>

          <div class="links">
            <h4 ng-if="active.links && active.links.length || editMode">Important links</h4>
            <div class="block" ng-if="!editMode && active.links && active.links.length">
              <a href="{{link}}" ng-repeat="link in active.links">{{link}}</a>
            </div>

            <div class="block" ng-if="editMode">
              <input ng-model="active.links[0]" placeholder="https://jira.lucidchart.com/browse/"/>
              <input ng-model="active.links[1]" placeholder="https://confluence.lucidchart.com/display/"/>
              <input ng-model="active.links[2]" placeholder="https://docs.google.com/spreadsheets/d/"/>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="footer">
      <div class="menu">
        <button ng-click="updateActive(active)" ng-if="editMode">Save changes</button>
        <div class="item" ng-click="toggleEditMode()">
          <div class="icon ion-android-create"></div>
          <p ng-if="!editMode">Edit</p>
          <p ng-if="editMode">Cancel Edit</p>
        </div>
        <div class="item" ng-click="deleteTask(active)">
          <div class="icon ion-trash-b"></div>
          <p>Delete</p>
        </div>
      </div>
    </div>
  </section>
</div>
