<div ng-if="modalOpen" class="modal-backdrop" ng-click="closeModal()" esc>
  <section class="modal" ng-click="$event.stopPropagation()">
    <div class="content">
      <img src="https://jane.com/cdn.jane/content/images/jane/close.svg" class="x-modal" ng-click="closeModal()">
      <!-- <h1 class="title-input">{{active.content}}</h1> -->
      <textarea class="title-input" line-break rows="1" ng-model="active.content"></textarea>

      <div class="content-body">
        <div class="left">
          <div class="description">
            <h3>
              <img src="/images/align-left.svg">
              Description
            </h3>
            <div class="description-placeholder" ng-click="editingDescription = true" ng-show="!editingDescription">
              Add a more detailed description...
            </div>
            <textarea
              ng-if="editingDescription"
              ng-cloak
              class="description-text"
              ng-model="active.description"
              wrap="off"
              placeholder="Add a more detailed description...">
            </textarea>
<!-- <pre ng-if="!editMode">
{{active.description}}
</pre> -->
          </div>
        </div>

        <div class="right">
          <div class="dates">
            <div class="right-item">
              <h3 class="small-title">Add to card</h3>

              <div class="add-ons">
                <div class="add-on">
                  <img src="/images/clock.svg">
                  Start date
                </div>
                <div class="add-on">
                  <img src="/images/calendar.svg">
                  End date
                </div>
                <div class="add-on">
                  <img src="/images/link.svg">
                  Links
                </div>
                <div class="add-on">
                  <img src="/images/user.svg">
                  Members
                </div>
                <div class="add-on">
                  <img src="/images/tag.svg">
                  Labels
                </div>
                <div class="add-on">
                  <img src="/images/paperclip.svg">
                  Attachment
                </div>
              </div>

              <p ng-if="!editMode" parse-date>{{active.start | date:'MMM d, yyyy'}}</p>
              <input type="date" ng-model="active.start" ng-if="editMode">
            </div>

            <div class="right-item">
              <p ng-if="!editMode">{{active.end | date:'MMM d, yyyy'}}</p>
              <input type="date" ng-model="active.end" ng-if="editMode">
            </div>
          </div>

          <div class="links">
            <h4 ng-if="active.links && active.links.length || editMode">Important links</h4>
            <div class="block" ng-if="!editMode && active.links && active.links.length">
              <a href="{{link}}" ng-repeat="link in active.links">{{link}}</a>
            </div>

            <div class="block" ng-if="editMode">
              <input ng-model="active.links[0]" placeholder="https://jira.lucidchart.com/browse/"/>
              <input ng-model="active.links[1]" placeholder="https://confluence.lucidchart.com/display/"/>
              <input ng-model="active.links[2]" placeholder="https://docs.google.com/spreadsheets/d/"/>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="footer">
      <div class="menu">
        <button ng-click="updateActive(active)" ng-if="editMode">Save changes</button>
        <div class="item" ng-click="toggleEditMode()">
          <div class="icon ion-android-create"></div>
          <p ng-if="!editMode">Edit</p>
          <p ng-if="editMode">Cancel Edit</p>
        </div>
        <div class="item" ng-click="deleteTask(active)">
          <div class="icon ion-trash-b"></div>
          <p>Delete</p>
        </div>
      </div>
    </div>
  </section>
</div>
