section.dashboard {
  .projects {
    max-width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px auto;
  }

  .project {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid @border-color;
    border-radius: @br;

    &:hover {
      background-color: @light-gray;
    }
  }
}
