/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: @almost-black;
	font-weight: 200;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// LOCAL GLOBALS
body {
  background-color: @light-gray;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 26.4px;
}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin-bottom: 10px;
}

h4 {
	font-weight: 400;
}

p, div, section, input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
}
blockquote {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 18.5714px;
}

textarea {
	border-radius: @br;
	border: 1px solid @border-color;
	padding: 10px 15px;

	&:focus {
		outline: none;
		border: 1px solid @green;
	}
}

* {
	box-sizing: border-box;
	color: #4d4d4d;
}

button {
	padding: 10px 15px;
	background-color: @green;
	color: #fff;
	border-radius: @br;
	border: 1px solid lighten(@green, 10%);
	font-size: 14px;
	box-shadow: @shadow;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: darken(@green, 5%);
	}

	&:active {
		background-color: darken(@green, 2%);
	}
}

input {
	height: 36px;
	border-radius: 2px;
	border: 1px solid #d6d6d6;
	padding: 0 5px;
}

a {
	cursor: pointer;
}
