@modal-zindex: 1000;

.modal-backdrop {
  position: fixed;
  background-color: rgba(71, 71, 71, 0.47);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
}

section.modal {
  width: 700px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  border-left: 1px solid @border-color;

  padding: 20px;
  box-shadow: -16px 0px 20px 2px rgba(0, 0, 0, 0.11);

  .x-modal {
    float: right;
    height: 30px;
    cursor: pointer;
  }
}
