section.timeline-wrapper {
  width: 100%;
  // background-color: #fff;
  padding: 20px 70px;
  // border: 1px solid @border-color;
  // box-shadow: @shadow;

  // .vis-timeline.vis-bottom {
  //   height: 280px !important;
  // }

  .timeline {
    // .card-shadow;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid @border-color;
    border-radius: @big-radius;
    box-shadow: @light-shadow-border;
  }

  .blue {
    background-color: @timeline-blue;
  }

  .orange {
    background-color: @timeline-orange;
    border: 1px solid darken(@timeline-orange, 20%);
  }

  .purple {
    background-color: @timeline-purple;
    border: 1px solid darken(@timeline-purple, 20%);
  }

  .green {
    background-color: @timeline-mid-green;
    border: 1px solid darken(@timeline-mid-green, 20%);
  }

  .vis-item {
    cursor: pointer;
    &.vis-selected {
      background-color: #e9e9e9;
      border-color: #bababa;
    }
  }
}
