section.timeline-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px 60px;
  box-shadow: @shadow;

  .timeline {
    // .card-shadow;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid @border-color;
    border-radius: @br;
  }
}
