@light-gray: #f5f5f5;
@border-color: #ddd;
@gray: #eee;
@br: 2px;
@shadow: 0 2px 4px rgba(0,0,0,0.1);
@almost-black: #4a4a4a;
@green: #2EC4B6;
@red: #FF6666;
@purple: #5D2E8C;
@banana: #F1E8B8;
@ugly: #CCFF66;

@blue: #abddf9;
@orange: #f9ecab;
@purple: #9F87AF;

.card-shadow {
  box-shadow: @shadow;
}

.input-default {
  border: 0;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;

  &::-webkit-input-placeholder {
    font-weight: 300;
  }

  &:focus {
    outline: none;
  }
}
