@light-gray: #f5f5f5;
@light-border: #e8eaed;
@border-color: #ddd;
@gray: #eee;
@br: 4px;
@big-radius: 8px;
@shadow: 0 2px 4px rgba(0,0,0,0.1);
@almost-black: #4a4a4a;

@timeline-mid-green: #76E7CD;
@timeline-blue: #abddf9;
@timeline-orange: #f9ecab;
@timeline-purple: #d0c4d8;
@timeline-green: #2EC4B6;
@timeline-red: #FF6666;

///
@blue: #009DDC;
@orange: #F26430;
@purple: #6761A8;
@green: #009B72;
///

.card-shadow {
  box-shadow: @shadow;
}

.input-default {
  border: 0;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;

  &::-webkit-input-placeholder {
    font-weight: 300;
  }

  &:focus {
    outline: none;
  }
}
