<% include ./partials/header.ejs %>

<section class="dashboard" ng-controller="DashboardController"
         ng-init="init(<%= JSON.stringify(projects) %>)" ng-cloak>

  <header>
    <h1><a href="/">Dashboard</a></h1>
    <div class="right">
      <a href="/profile">Profile</a>
      <span class="separator">//</span>
      <a ng-click="logOut()">Log out</a>
    </div>
  </header>

  <div class="projects">
    <a class="project" ng-click="createNewProject()">New project</a>

    <a class="project" ng-repeat="project in projects" ng-href="/project/{{project._id}}">
      <h3>{{project.name}}</h3>
    </a>
  </div>
</section>

<% include ./partials/footer.ejs %>
