<% include ./partials/header.ejs %>

<section class="container">
  <% include ./partials/timeline.ejs %>

  <section class="lists">
    <% include ./partials/list.ejs %>
    <% include ./partials/list.ejs %>
    <% include ./partials/list.ejs %>
    <% include ./partials/list.ejs %>
  </section>
</section>

<% include ./partials/footer.ejs %>
