<% include ./partials/header.ejs %>

<section ng-controller="ProjectController" ng-init="init(<%= JSON.stringify(lists) %>, <%= JSON.stringify(project) %>)" ng-cloak>
  <section class="auth" ng-if="!auth">
    <div class="message">
      <h1>What's the secret code?</h1>
      <form ng-submit="authenticate(password)">
        <input type="password" ng-model="password" placeholder="Password">
        <br/>
        <button>GET IN</button>
      </form>
    </div>
  </section>

  <header ng-if="auth">
    <h1><a href="/">Dashboard</a>
      <span class="separator">//</span>
      {{project.name}}
    </h1>
    <a ng-click="logOut()">Log out</a>
  </header>

  <% include ./partials/timeline.ejs %>

  <section class="lists container" ng-if="auth">
    <% include ./partials/list.ejs %>
    <% include ./partials/new-list.ejs %>
  </section>

  <% include ./partials/task-modal.ejs %>
</section>

<% include ./partials/footer.ejs %>
